<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="se.zust.dao.GoodsDao">
         <!-- 配置resultMap属性，进行表字段与实体类属性映射 -->
    <resultMap id="GoodsResultMap" type="se.zust.entity.Goods" >
        <id column="pid" property="pid" jdbcType="INTEGER"/>
	    <result column="inlibrary_id" property="inLibraryID" jdbcType="INTEGER"/>
	    <result column="pname" property="pname" jdbcType="VARCHAR"/>
        <result column="pnum" property="pnum" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="VARCHAR"/>
        <result column="room" property="room" jdbcType="VARCHAR"/>
        <association property="inlibrary" javaType="se.zust.entity.Inlibrary">
            <id column="pid" property="pid" jdbcType="INTEGER"/>
            <result column="in_date" property="intime" jdbcType="TIMESTAMP"/>
            <result column="in_user" property="inuser" jdbcType="VARCHAR"/>
        </association>
    </resultMap>

    <select id="selectGoods" resultMap="GoodsResultMap" parameterType="se.zust.entity.Goods">
        SELECT
        *
        FROM
        goods g
        INNER JOIN
        inlibrary i
        ON g.inlibrary_id = i.pid
        <where>
            <if test="pid != null">
                g.pid like CONCAT(CONCAT('%', #{pid}), '%')
            </if>
            <if test="pname != '' and pname != null ">
                AND g.pname LIKE "%"#{pname,jdbcType=VARCHAR}"%"
            </if>
            <if test="area != '' and area != null">
                AND g.area = #{area,jdbcType=VARCHAR}
            </if>
            <if test="room != '' and room != null">
                AND g.room = #{room,jdbcType=VARCHAR}
            </if>
            <if test="startTime != '' and startTime != null">
                AND i.in_date &gt;= #{startTime,jdbcType=VARCHAR}
            </if>
            <if test="endTime != '' and endTime != null">
                AND i.in_date &lt; #{endTime,jdbcType=VARCHAR}
            </if>
        </where>
         limit #{start},#{pageSize}
    </select>
    <select id="selectGoodsCount" resultType="Integer">
        select IFNULL(COUNT(*),0)
        FROM goods g
        INNER JOIN inlibrary i
        ON g.inlibrary_id = i.pid
        <where>
            <if test="pid != null">
                g.pid like CONCAT(CONCAT('%', #{pid}), '%')
            </if>
            <if test="pname != '' and pname != null ">
                AND g.pname LIKE "%"#{pname,jdbcType=VARCHAR}"%"
            </if>
            <if test="area != '' and area != null">
                AND g.area = #{area,jdbcType=VARCHAR}
            </if>
            <if test="room != '' and room != null">
                AND g.room = #{room,jdbcType=VARCHAR}
            </if>
            <if test="startTime != '' and startTime != null">
                AND i.in_date &gt;= #{startTime,jdbcType=VARCHAR}
            </if>
            <if test="endTime != '' and endTime != null">
                AND i.in_date &lt; #{endTime,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="selectBy" resultMap="GoodsResultMap" parameterType="String">
        select * from goods
        <where>
            <if test="search != null">
                pname like "%"#{search}"%"
            </if>
        </where>
    </select>
 </mapper>