body{
	margin: 0;
	padding: 0;
}
.shandow {
	position: fixed;
	height: 100%;
	width: 100%;
	display: none;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	background: rgba(0, 0, 0, 0.6);
}
#top{
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: #FFFFFF;
	z-index: 999;
}
#search{
	width: 200px;
	height: 19px;
	margin: 17px 0 17px 25px;
}
#select{
	width: 150px;
	height: 40px;
	float: right;
	color: #FFFFFF;
	background-color: #15D6BA;
	border-radius: 20px;
	line-height: 40px;
	text-align: center;
	margin: 10px 25px 10px 0 ;
}
#select:hover{
	cursor: pointer;
}
#middle{
	position: absolute;
	top: 60px;
	width: 100%;
	height: 90%;
}	
table{
	width: 100%;
	text-align: center;
	padding: 0;
	border: 0;
}
table tr{
	height: 50px;
}
table tr td button{
	border: 0px;
}
#title{
	color: #FFFFFF;
	background-color: #526C85;
}
#fenye{
	float: right;
	bottom: 0;
	margin: 25px;
}
#fenye div{
	float: left;
	margin: 0 5px 0 0;
}
.fanye:hover{
	cursor: pointer;
}
#pageNo{
	width: 30px;
	text-align: center;
}
#count{
	float: left;
	bottom: 0;
	margin: 25px;
}
#count select{
	width: 39px;
	height: 19px;
}
#detail{
	position: fixed;
	z-index: 999;
	top: 20%;
	left: 27%;
	border: 1px solid #C2C2C2;
	border-radius: 15px;
	padding:40px 60px 60px 60px;
	background-color: #FFFFFF;
	margin: 0;
	display: none;
	outline: 0;
}
#detail table{
	width: 420px;
	text-align: left;
}
#isDelete{
	position: fixed;
	z-index: 999;
	top: 35%;
	left: 38%;
	border: 1px solid #C2C2C2;
	border-radius: 15px;
	padding:60px;
	background-color: #FFFFFF;
	margin: 0;
	display: none;
}
#isDelete div div{
	width: 100px;
	height: 30px;
	background-color: #15D6BA;
	color: #FFFFFF;
	text-align: center;
	line-height: 30px;
	border-radius: 15px;
	margin: 30px;
}
#yes{
	float: left;
}
#yes:hover{
	cursor: pointer;
}
#no{
	float: right;
}
#no:hover{
	cursor: pointer;
}